<% provide(:title, current_user.name) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:course, url: search_course_path, ) do |f| %>

        <%= f.label :course_number %><br>
        <%= f.select(:course_number, options_for_select(Course.select(:course_number, :id).map{|c| [ c.course_number, c.id ]})) %>
        <br><br>
        <%= f.label :professor_id %><br>
        <%= f.select(:professor_id, options_for_select(Professor.select(:name, :id).map{|c| [ c.name, c.id ]})) %>
        <br><br>
        <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>

    <% if logged_in? and @courses.ids.present?%>
        <br><br>
        <table>
          <thead>
          <tr>
            <th style="padding-right: 100px">Course number   </th>
            <th style="padding-right: 100px">Course title    </th>
            <th style="padding-right: 100px">Reviews</th>
          </tr>
          </thead>

          <tbody>
          <% @courses.each do |course| %>
              <tr>
                <td><%= course.course_number %></td>
                <td><%= course.title %></td>
                <td><%= link_to "Review", show_review_path(:id => course.id) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>

</div>