<% provide(:title, "give_feedback_for_course") %>
<h3 xmlns="http://www.w3.org/1999/html">Enter your feedback for course</h3>
<div class="row" style="height: 1030px;">
  <div id="course_rating_form">
    <%=form_for @feedback do |f| %>
        <%=label_tag(:fav_factor,"1) What do you like the best about the course?")%></br>
        <div class="form-group fav_factor">
          <%= label_tag(:Instructor,"Instructor")%>
          <%= radio_button_tag(:fav_factor,'1') %>
          <%= label_tag(:Project_assignment,"Project/Assignments") %>
          <%= radio_button_tag(:fav_factor,'2') %>
          <%= label_tag(:Course_material,"Course Material") %>
          <%= radio_button_tag(:fav_factor,'3') %>
          <%= label_tag(:Grading,"Grading") %>
          <%= radio_button_tag(:fav_factor,'4') %>
        </div>

        <%=label_tag(:workload,"2) What is the approximate workload in hours/week?")%></br>
        <div class="form-group workload">
          <%= label_tag(:four_five,"4-5")%>
          <%= radio_button_tag(:workload,'1')%>
          <%= label_tag(:seven_eight,"7-8")%>
          <%= radio_button_tag(:workload,'2')%>
          <%= label_tag(:ten_twelve,"10-12")%>
          <%= radio_button_tag(:workload,'3')%>
        </div>


        <%=label_tag(:grade,"3) What grade did you get in the course?")%></br>
        <%= select_tag :grade, options_for_select([[ "A+","A+"], ["A","A"],["A-","A-"],["B+","B+"],["B","B"],["B-","B-"],["C+","C+"],["C","C"],["C-","C-"]], "A+")%>


        <%=label_tag(:num_of_exam,"4) How many exams are there in the course?")%></br>
        <div>
          <%= f.range_field :num_of_exam, :min=>0, :max=>5, :class=>"slide", :id=>"num_of_exam"%>
        </div>

        <%=label_tag(:num_of_project,"5) How many projects are there in the course?")%></br>
        <div>
          <%= f.range_field :num_of_project, :min=>0, :max=>5, :class=>"slide", :id=>"num_of_project"%>
        </div>

        <%=label_tag(:num_of_assignment,"6) How many Assignments are there in the course?")%></br>
        <div>
          <%= f.range_field :num_of_assignment, :min=>0, :max=>5, :class=>"slide", :id=>"num_of_assignment"%>
        </div>


        <%=label_tag(:quality_of_lecture,"7) How do you rate the quality of lectures?")%></br>
        <div>
          <%= f.range_field :quality_of_lecture, :min=>0, :max=>4, :class=>"slide", :id=>"quality_of_lecture"%>
        </div>

        <%=label_tag(:tool_and_lang,"8) Which Tools/Languages did you use?")%></br>
        <%= select_tag :tool_and_lang, options_for_select([ "C", "C++","Java","Python","Ruby","Scala","Javascript","HTML","Other" ], "C"), multiple: true%>

        <%=label_tag(:category,"9) How do you categorize this course?")%></br>
        <%= select_tag :category, options_for_select([[ "System","1"], ["Design","2"],["Networks","3"],["Software engineering","4"],["Data Science","5"],["Other","0"]], "C")%>

        <%=label_tag(:related_course,"10) Which other courses are related to this one?")%></br>
        <% course_Array =  Course.select(:course_number,:title).group(:course_number,:title) %>
        <% related_course_array= []%>
        <% course_Array.each do |course| %>
            <% if course.course_number!= params[:course_number]%>
              <%course_touple=[]%>
              <%course_touple.append(course.course_number_and_title)%>
              <%course_touple.append(course.course_number)%>
              <% related_course_array.append(course_touple)%>
            <%end%>
        <% end %>
        <%= select_tag :related_course, options_for_select(related_course_array), multiple: true%>

        <%=label_tag(:job_relevance,"10) How do you rate the job relevance of the course?")%></br>
        <div>
          <%= f.range_field :job_relevance, :min=>0, :max=>4, :class=>"slide", :id=>"job_relevance"%>
        </div>

        <%=f.submit "create", class: "btn btn-primary submit"%>
    <%end%>
  </div>
</div>
<style>
  .slider.slider-horizontal .slider-track {
    height: 15px;
    width: 100%;
    margin-top: -7.5px;
    top: 50%;
    left: 0;
  }
  #course_rating_form{
    align-content: center;
    width: 30%;
    padding: 10px;
    left:100px;
  }
  .submit{
    width:275px;
  }

  .slider-tick-label{
    font-size: 11px;
  }
  .slider.slider-horizontal{
    margin-bottom: 35px!important;
    margin-left: 35px;
    margin-top: 10px;
  }
  .fav_factor label,.workload label
  {
    font-weight: normal;
  }
</style>
<script type="text/javascript">
  $('#num_of_project').slider({
    formatter: function(value) {
      if (value==5){
        return 'Projects: ' + value+' or more';
      }else{
        return 'Projects: ' + value;
      }

    },
    ticks: [0, 1, 2, 3, 4, 5],
    ticks_positions: [0,20,40,60,80,100],
    ticks_labels: ['0', '1', '2', '3', '4','>=5 '],
    ticks_snap_bounds: 1
  });
  $('#num_of_exam').slider({
    formatter: function(value) {
      if (value==5){
        return 'Exams: ' + value+' or more';
      }else{
        return 'Exams: ' + value;
      }

    },
    ticks: [0, 1, 2, 3, 4, 5],
    ticks_positions: [0,20,40,60,80,100],
    ticks_labels: ['0', '1', '2', '3', '4','>=5 '],
    ticks_snap_bounds: 1
  });
  $('#num_of_assignment').slider({
    formatter: function(value) {
      if (value==5){
        return 'Assignments: ' + value+' or more';
      }else{
        return 'Assignments: ' + value;
      }

    },
    ticks: [0, 1, 2, 3, 4, 5],
    ticks_positions: [0,20,40,60,80,100],
    ticks_labels: ['0', '1', '2', '3', '4','>=5 '],
    ticks_snap_bounds: 1
  });
  $('#quality_of_lecture').slider({
    formatter: function(value) {

        return 'Quality: ' + value;
    },
    ticks: [0, 1, 2, 3, 4],
    ticks_positions: [0,25,50,75,100],
    ticks_labels: ['Not Good', ' ', ' ', ' ', 'Very Good'],
    ticks_snap_bounds: 1
  });

  $('#job_relevance').slider({
    formatter: function(value) {

      return 'Job relevance: ' + value;
    },
    ticks: [0, 1, 2, 3, 4],
    ticks_positions: [0,25,50,75,100],
    ticks_labels: ['Not relevant', ' ', ' ', ' ', 'Very relevant'],
    ticks_snap_bounds: 1
  });


</script>

