<% provide(:title, "get_feedback_result") %>
<html>
<head>
<script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
<style>
  .canvasjs-chart-credit {
    display: none;
  }
</style>
</head>
<body>
<h1 xmlns="http://www.w3.org/1999/html">Below is the feedback for your selection</h1>
<div class="row">
  <div >
    <%=form_for :feedback do |f| %>
        <%=label_tag(:fav_factor,"1) Favourite Factor about the course")%></br>
        <%=label_tag(@fav_factor)%></br>
        <div id="fav_factor" style="height: 300px; width: 50%;"></div>

        <%=label_tag(:workload,"2)Approximate workload in hours/week")%></br>
        <%=label_tag(@workload)%></br>
        <div id="workload" style="height: 300px; width: 50%;"></div>

        <%=label_tag(:grade,"3) Grade in the course")%></br>
        <%=label_tag(@grade)%></br>
        <div id="grade" style="height: 300px; width: 50%;"></div>

        <%=label_tag(:num_of_project,"4)Projects in the course")%></br>
        <%=label_tag(@num_of_project)%></br>
        <div id="num_of_project" style="height: 300px; width: 50%;"></div>

        <%=label_tag(:@num_of_assignment,"5)Assignments in the course")%></br>
        <%=label_tag(@num_of_assignment)%></br>
        <div id="num_of_assignment" style="height: 300px; width: 50%;"></div>

        <%=label_tag(:@num_of_exam,"6)Exams in the course")%></br>
        <%=label_tag(@num_of_exam)%></br>
        <div id="num_of_exam" style="height: 300px; width: 50%;"></div>

        <%=label_tag(:quality_of_lecture,"7)The quality of lectures")%></br>
        <%=label_tag(@quality_of_lecture)%></br>
        <div id="quality_of_lecture" style="height: 300px; width: 50%;"></div>

        <%=label_tag(:tool_and_lang,"8) Tools/Languages used in the course")%></br>
        <%=label_tag(@tool_and_lang)%></br>
        <div id="tool_and_lang" style="height: 300px; width: 50%;"></div>

        <%=label_tag(:category,"9)How do you categorize this course")%></br>
        <%=label_tag(@category)%></br>
        <div id="category" style="height: 300px; width: 50%;"></div>

        <%=label_tag(:job_relevance,"10)Job relevance of the course")%></br>
        <%=label_tag(@job_relevance)%></br>
        <div id="job_relevance" style="height: 300px; width: 50%;"></div>

        <%=label_tag(:prof_rating_id,"11)Professor rating of the course")%></br>
        <%=label_tag(@prof_rating_id)%></br>
        <div id="prof_rating_id" style="height: 300px; width: 50%;"></div>

        <%=label_tag(:related_course,"12)Related coursework")%></br>
        <%=label_tag(@related_course)%></br>
        <div id="related_course" style="height: 300px; width: 50%;"></div>


  <%end%>
  </div>
</div>
<p>CSC510 project</p>
<script type="text/javascript">

  function createChartData(data){
    dataArray=[];
    for (var key in data) {
      if (data.hasOwnProperty(key)) {
        var eachDataPoint={};
        console.log(key + " -> " + data[key]);
        eachDataPoint['label']= key;
        eachDataPoint['y'] = data[key];
        dataArray.push(eachDataPoint);
      }
    }
    console.log(dataArray);
    return dataArray;
  }

  function drawChart(data,container,typeOfChart){
    var dataPointsArray=[];
    dataPointsArray = createChartData(data);
    var chart = new CanvasJS.Chart(container, {
      data: [
        {
          // Change type to "doughnut", "line", "splineArea", etc.
          type: typeOfChart,
          dataPoints: dataPointsArray
        }
      ]
    });
    chart.render();
  }

  function drawAllCharts(){
    drawChart(<%= @fav_factor.to_json.html_safe %>,"fav_factor","pie");
    drawChart(<%= @workload.to_json.html_safe %>,"workload","column");
    drawChart(<%= @grade.to_json.html_safe %>,"grade","pie");
    drawChart(<%= @num_of_project.to_json.html_safe %>,"num_of_project","bar");
    drawChart(<%= @num_of_assignment.to_json.html_safe %>,"num_of_assignment","column");
    drawChart(<%= @num_of_exam.to_json.html_safe %>,"num_of_exam","bar");
    drawChart(<%= @quality_of_lecture.to_json.html_safe %>,"quality_of_lecture","pie");
    drawChart(<%= @tool_and_lang.to_json.html_safe %>,"tool_and_lang","column");
    drawChart(<%= @category.to_json.html_safe %>,"category","bar");
    drawChart(<%= @job_relevance.to_json.html_safe %>,"job_relevance","pie");
    drawChart(<%= @prof_rating_id.to_json.html_safe %>,"prof_rating_id","pie");
    drawChart(<%= @related_course.to_json.html_safe %>,"related_course","column");
  }
  window.onload = drawAllCharts();


</script>
</body>
</html>