<% provide(:title, "give_feedback") %>
<h1>Give feedback</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%=form_for :course do |f| %>
        <%=f.label :course_number%>
        <%=f.text_field :course_number, class: 'form-control'%>

        <%=f.label :professor_id%>
        <%=f.text_field :professor_id, class: 'form-control'%>


        <%=f.submit "get_feedback_form", class: "btn btn-primary"%>
    <%end%>
  </div>
</div>

<p>CSC510 project</p>
