<% provide(:title, "give_feedback_for_professor") %>
<h1 xmlns="http://www.w3.org/1999/html">Enter your feedback for professor</h1>
<div class="row">
  <div >
    <%=form_for @prof_rating do |f| %>
        <%=label_tag(:prof_ratings," How do you rate the professor?")%></br>
        <%=label_tag(:fluency,"i) Language and Fluency:")%></br>
        <div class="form-group">
          <%= label_tag(:one,"1")%>
          <%= radio_button_tag(:fluency,'1')%>
          <%= label_tag(:two,"2")%>
          <%= radio_button_tag(:fluency,'2')%>
          <%= label_tag(:three,"3")%>
          <%= radio_button_tag(:fluency,'3')%>
          <%= label_tag(:four,"4")%>
          <%= radio_button_tag(:fluency,'4')%>
          <%= label_tag(:five,"5")%>
          <%= radio_button_tag(:fluency,'5')%>
        </div>

        <%=label_tag(:course_material,"ii) Course Material:")%></br>
        <div class="form-group">
          <%= label_tag(:one,"1")%>
          <%= radio_button_tag(:course_material,'1')%>
          <%= label_tag(:two,"2")%>
          <%= radio_button_tag(:course_material,'2')%>
          <%= label_tag(:three,"3")%>
          <%= radio_button_tag(:course_material,'3')%>
          <%= label_tag(:four,"4")%>
          <%= radio_button_tag(:course_material,'4')%>
          <%= label_tag(:five,"5")%>
          <%= radio_button_tag(:course_material,'5')%>
        </div>

        <%=label_tag(:knowledge,"iii) Course knowledge:")%></br>
        <div class="form-group">
          <%= label_tag(:one,"1")%>
          <%= radio_button_tag(:knowledge,'1')%>
          <%= label_tag(:two,"2")%>
          <%= radio_button_tag(:knowledge,'2')%>
          <%= label_tag(:three,"3")%>
          <%= radio_button_tag(:knowledge,'3')%>
          <%= label_tag(:four,"4")%>
          <%= radio_button_tag(:knowledge,'4')%>
          <%= label_tag(:five,"5")%>
          <%= radio_button_tag(:knowledge,'5')%>
        </div>

        <%=label_tag(:doubt_solving,"iv) Helpfulness:")%></br>
        <div class="form-group">
          <%= label_tag(:one,"1")%>
          <%= radio_button_tag(:doubt_solving,'1')%>
          <%= label_tag(:two,"2")%>
          <%= radio_button_tag(:doubt_solving,'2')%>
          <%= label_tag(:three,"3")%>
          <%= radio_button_tag(:doubt_solving,'3')%>
          <%= label_tag(:four,"4")%>
          <%= radio_button_tag(:doubt_solving,'4')%>
          <%= label_tag(:five,"5")%>
          <%= radio_button_tag(:doubt_solving,'5')%>
        </div>


        <%=f.submit "create", class: "btn btn-primary"%>
    <%end%>
  </div>
</div>
<p>CSC510 project</p>
