<% provide(:title, "give_feedback_for_professor") %>
<h1 xmlns="http://www.w3.org/1999/html">Enter your feedback for professor</h1>
<div class="row">
  <div >
    <%=form_for @prof_rating do |f| %>
        <%=label_tag(:prof_ratings,"How do you rate the professor?")%></br>
        <div>
        <%=label_tag(:fluency,"i)Language and Fluency:")%></br>
          <%= f.range_field :fluency, :min=>0, :max=>4, :class=>"slide", :id=>"fluency"%>
        </div>
        <div>
        <%=label_tag(:course_material,"ii)Course Material:")%></br>
          <%= f.range_field :course_material, :min=>0, :max=>4, :class=>"slide", :id=>"course_material"%>
        </div>
        <div>
        <%=label_tag(:knowledge,"iii)Course knowledge:")%></br>
          <%= f.range_field :knowledge, :min=>0, :max=>4, :class=>"slide", :id=>"knowledge"%>
        </div>
        <div>
        <%=label_tag(:doubt_solving,"iv)Helpfulness:")%></br>
          <%= f.range_field :doubt_solving, :min=>0, :max=>4, :class=>"slide", :id=>"doubt_solving"%>        </div>
        <%=f.submit "create", class: "btn btn-primary"%>
    <%end%>
  </div>
</div>

<script type="text/javascript">
  $('#fluency').slider({
    formatter: function(value) {
      return 'Fluency: ' + value;
    },
    ticks: [0, 1, 2, 3, 4],
    ticks_positions: [0,25,50,75,100],
    ticks_labels: ['Not Fluent', '', '', '', 'Very Fluent'],
    ticks_snap_bounds: 1
  });

  $('#course_material').slider({
    formatter: function(value) {
      return 'Course Material ' + value;
    },
    ticks: [0, 1, 2, 3, 4],
    ticks_positions: [0,25,50,75,100],
    ticks_labels: ['Not Good', '', '', '', 'Very Good'],
    ticks_snap_bounds: 1
  });

  $('#knowledge').slider({
    formatter: function(value) {
      return 'Knowledge: ' + value;
    },
    ticks: [0, 1, 2, 3, 4],
    ticks_positions: [0,25,50,75,100],
    ticks_labels: ['Preliminary', '', '', '', 'In-Depth'],
    ticks_snap_bounds: 1
  });

  $('#doubt_solving').slider({
    formatter: function(value) {
      return 'Helpfulness: ' + value;
    },
    ticks: [0, 1, 2, 3, 4],
    ticks_positions: [0,25,50,75,100],
    ticks_labels: ['Not helpful', '', '', '', 'Welcoming'],
    ticks_snap_bounds: 1
  });

</script>
<p>CSC510 project</p>
